/* Ogólny styl strony */
body {
    font-family: 'Fira Code', monospace;
    font-size: 14px;
    background-color: #0a0f0d;
    color: #00ff00;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('camo-pattern.png'); /* Użyj obrazu kamuflażu jako tło */
    background-size: cover;
}



/* Stylizacja dla kontenera logowania */
.login-container, .container {
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 100px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.7);
    max-width: 400px;
    width: 100%;
}

.login-box {
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #00ff00;
    text-transform: uppercase;
    border-bottom: 2px solid #00ff00;
    display: inline-block;
    padding-bottom: 10px;
}

#pin-input {
    font-size: 14px;
    text-align: center;
    padding: 10px;
    margin: 15px 0;
    border-radius: 4px;
    border: 1px solid #00ff00;
    width: 100%;
    max-width: 250px;
    background-color: #333;
    color: #00ff00;
}

/* Ogólny styl przycisków */
button {
    background-color: #00ff00;
    border: none;
    padding: 10px 20px;
    margin: 10px 5px; /* Ustawienie marginesów, aby przyciski były obok siebie */
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    color: #000;
    text-align: center; /* Ustawienie tekstu na środku przycisku */
}

button:hover {
    background-color: #00cc00;
}

/* Stylowanie tabeli */
.weather-table {
    width: 100%;
    margin-bottom: 5px;
    border-collapse: collapse;
    text-align: center; /* Ustawienie tekstu i zawartości na środku tabeli */
}

/* Wyśrodkowanie zawartości komórek tabeli */
.weather-table td {
    padding: 1px;
    text-align: center; /* Wyśrodkowanie zawartości komórek */
    vertical-align: middle; /* Wyśrodkowanie pionowe */
}

.weather-table td:first-child {
    font-weight: bold;
    width: 150px; /* Stała szerokość dla pierwszej kolumny */
}

/* Dodatkowe stylowanie przycisków w tabeli */
.task-controls {
    display: flex;
    justify-content: center; /* Wyśrodkowanie przycisków w poziomie */
    gap: 10px; /* Odstęp między przyciskami */
}



.timer {
    font-size: 24px; /* Zwiększenie rozmiaru zegara */
    font-weight: bold;
    margin-top: 10px;
    display: block; /* Ustawienie zegara w nowej linii */
}

.weather-table {
    width: 100%;
    margin-bottom: 5px;
    border-collapse: collapse;
}

.weather-table td {
    padding: 1px;
    text-align: left;
}

.weather-table td:first-child {
    font-weight: bold;
    width: 150px; /* Stała szerokość dla pierwszej kolumny */
}

/* Styl dla wierszy z wschodem i zachodem słońca */
.weather-table .sun-info {
    margin-top: 20px; /* Odstęp przed wschodem i zachodem słońca */
}


.static-brackets {
    color: inherit; /* Normal color initially */
}

.arrow {
    color: inherit; /* Normal color initially */
    font-weight: bold;
}

.rotate-blinker {
    display: inline-block;
    font-weight: bold;
    color: #00FF00;
    animation: rotateBlinker 1s infinite linear;
}

@keyframes rotateBlinker {
    0% { transform: rotate(0deg); opacity: 1; }
    50% { opacity: 0.5; }
    100% { transform: rotate(360deg); opacity: 1; }
}

.brackets-start {
    color: #0000FF; /* Blue color for brackets when blinking starts */
}

.brackets-end {
    color: #FF0000; /* Red color for brackets when blinking ends */
}

.arrow-blink {
    animation: blink 1s step-start infinite;
    color: #FF0000; /* Red color for arrow while blinking */
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}


.update-button {
    background-color: #000;
    color: #0f0;
    border: 1px solid #0f0;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    margin: 5px; /* Dodaj margines, aby przyciski nie były zbyt blisko siebie */
    transition: background-color 0.3s, color 0.3s;
    text-align: center; /* Upewnij się, że tekst przycisków jest wyśrodkowany */
}

.update-button:hover {
    background-color: #0f0;
    color: #000;
}

.update-button:focus {
    box-shadow: 0 0 0 2px #0f0;
}


#radar-container {
    margin: 20px auto;
    width: 300px;
    height: 300px;
}

.blink-exclamation {
    animation: blink 1s step-start infinite;
}

@keyframes blink {
    0%, 50%, 100% {
        opacity: 1;
    }
    25%, 75% {
        opacity: 0;
    }
}



#timestamp, #clock {
    font-weight: bold;
    color: #00ff00;
}

#current-time {
    font-weight: bold;
    color: #00ff00; /* Dopasuj kolor do reszty tabeli */
}

/* Pixelowy font dla tytułów */
h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 22px;
    color: #00ff00;
    text-shadow: 0 0 5px #00ff00;
    text-align: center;
}