<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hacker System</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <!-- Ekran logowania -->
    <div class="login-container">
        <div class="login-box">
            <h2>Access Denied</h2>
            <input type="password" id="pin-input" maxlength="4" placeholder="">
            <button id="login-button">Zaloguj</button>
            <p id="error-message" style="color: red; display: none;">Niepoprawny PIN. Spróbuj ponownie.</p>
        </div>
    </div>

    <!-- Ekran systemu po zalogowaniu -->
    <div class="container" style="display: none;">
        <h1>DAVIDSON</h1>


        <!-- Sekcja z datą i godziną -->
        <div class="info-box">
            <!--<p><strong>Data:</strong><span id="date">{{ date }}</span><strong> Godzina:</strong><span id="time">{{ time }}</span></p>-->

            <!-- Tabela z danymi pogodowymi -->

            <table class="weather-table">
                <tr>
                    <td><span id="date">Data: {{ date }}</span></td>
                    <td><b>Godzina: </b><span id="current-time"></span></td>
                </tr>

            </table>
            <td><span id="time_start">Czas systemu: {{ time }}</span></td><br>
            <table class="weather-table">
                <tr>
                    <td><strong>Temperatura:</strong></td>
                    <td><span id="temperature"></span>{{ temperature }} °C</td>
                </tr></br>
                <tr>
                    <td><strong>Ciśnienie:</strong></td>
                    <td><span id="pressure"></span>{{ pressure }} hPa</td>
                </tr>
                <tr>
                    <td><strong>Wilgotność:</strong></td>
                    <td><span id="humidity"></span>{{ humidity }} %</td>
                </tr>

                <tr>
                    <td><strong>Wiatr:</strong></td>
                    <td><span id="wiatr"></span>{{ wind_speed }} km/h</td>
                </tr>
                <tr>
                    <td><strong>Kierunek:</strong></td>
                    <td><span id="kierunek">{{ wind_direction }}°</span></td>
                </tr>
                <!-- Pusty wiersz jako odstęp -->
                <tr  style="height: 10px;">
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td><strong>Wschód słońca:</strong></td>
                    <td >{{ sunrise }}</td>
                </tr>
                <tr class="sun-info">
                    <td><strong>Zachód słońca:</strong></td>
                    <td>{{ sunset }}</td>
                </tr>
            </table>

            <p><strong>Lokalizacja:</strong><br><span id="lokalizacja"> {{ latitude }}, {{ longitude }}</span></strong></p>
        </div>

        <p><strong>Twoje dzisiejsze misje:</strong></p>

        <div id="mission-list">
            <!-- Lista misji pojawi się tutaj -->

        </div>

        <button id="download-log">Pobierz logi</button>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
