<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hacker System</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <!-- Ekran logowania -->
    <div class="login-container">
        <div class="login-box">
            <h2>Access Denied</h2>
            <input type="password" id="pin-input" maxlength="4" placeholder="PIN">
            <button id="login-button">Zaloguj</button>
            <p id="error-message" style="color: red; display: none;">Niepoprawny PIN. Spróbuj ponownie.</p>
        </div>
    </div>

    <!-- Ekran systemu po zalogowaniu -->
    <div class="container" style="display: none;">
        <h1>DAVIDSON</h1>

        <!-- Sekcja z datą i godziną -->
        <div class="info-box">
            <table class="weather-table">
                <tr>
                    <td><span id="date">Data: {{ date }}</span></td>
                    <td><b>Godzina: </b><span id="current-time"></span></td>
                </tr>
            </table>
            <td><span id="time_start">Czas systemu: {{ time }}</span></td><br>

            <section id="weather">
                <table class="weather-table">
                    <tr>
                        <td><strong>Czas aktualizacji: </strong></td>
                        <td><span id="last-updated"></span></td>
                    </tr>
                    <tr>
                        <td><strong>Temperatura:</strong></td>
                        <td><span id="temperature"></span></td>
                    </tr>
                    <tr>
                        <td><strong>Ciśnienie:</strong></td>
                        <td><span id="pressure"></span></td>
                    </tr>
                    <tr>
                        <td><strong>Wilgotność:</strong></td>
                        <td><span id="humidity"></span></td>
                    </tr>
                    <tr>
                        <td><strong>Wiatr:</strong></td>
                        <td><span id="wind-speed"></span></td>
                    </tr>
                    <tr>
                        <td><strong>Kierunek:</strong></td>
                        <td><span id="wind-direction"></span></td>
                    </tr>
                    <tr style="height: 10px;">
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td><strong>Wschód słońca:</strong></td>
                        <td><span id="sunrise"></span></td>
                    </tr>
                    <tr class="sun-info">
                        <td><strong>Zachód słońca:</strong></td>
                        <td><span id="sunset"></span></td>
                    </tr>
                </table>
            </section>

            <p><strong>Lokalizacja:</strong><br><span id="lokalizacja"> {{ latitude }}, {{ longitude }}</span></p>
        </div>

        <div id="radar-container" style="text-align: center; margin-top: 20px;">
            <canvas id="radarCanvas" width="300" height="300"></canvas>
        </div>

        <p><strong>Twoje dzisiejsze misje:</strong></p>
        <div id="mission-list">
            <!-- Lista misji pojawi się tutaj -->
        </div>

        <button id="download-log" class="update-button">Pobierz logi ▼</button>
        <button id="update-weather" class="update-button">Aktualizuj ↻</button>
    </div>

    <script src="{{ url_for('static', filename='radar.js') }}"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
